
main {
    display: flex;
    flex-flow: column wrap;
    max-width: 1300px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    height: 100%;
}


.allGymMoves {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.moveCardDiv {
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 25px;
}

.moveCardDiv > img {
    border-radius: 10px;
}

.gymMoveWrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

main {
    height: 100%;
    flex-flow: column nowrap;
}

.gymmoveText {
    text-align: center;
}


p {
    font-family: 'IBM Plex Sans', sans-serif;
    word-break: break-all;
    margin: 0;
    padding: 5px;
}


@media only screen and (max-width: 500px) {

    .allGymMoves {
        flex-flow: initial;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    main {
        flex-direction: column;
    }

    header {
        flex: 2;
    }

    .gymMoveWrapper {
        flex: 3;
    }
}

