article {
    height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--lightYellow);
    border-style: solid;
    border-color: var(--Yellow);
    border-width: 2px;
    flex: 1;
    margin: 10px;
}

.middle {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.middle > h2 {
    align-self: center;
    margin-top: 30px;
}

#moveOfDay {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    width: 100%;
    height: auto;
}

#profilePic {
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    padding: 10px;
    width: 100%;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--lightRed);
    border-style: solid;
    border-color: var(--Red);
    border-width: 2px;
    flex: 1;
    margin: 10px;
}


#divText {
    padding: 10px
}
#userNameText {
    padding-left: 10px;
    padding-right: 10px;
}

/*
:root {
    --Yellow: rgb(255, 237, 0);
    --lightYellow: rgb(255, 252, 220);
    --Red: rgb(227, 0, 11);
    --lightRed: rgb(245, 170, 174);
    --Blue: rgb(0, 191, 255);
}

.textFont {
    font-family: 'IBM Plex Sans', sans-serif;
    word-break: break-all;
}

.headingFont {
    font-family: 'IBM Plex Serif', serif;
    word-break: break-all;
}

* {
    box-sizing: border-box;
}

body {
}

html {
    background: url("FrontEnd/Images/SitePictures/LegoMilleniumFalcon.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main {
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0);
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 10px;
}

div ul {
    list-style-type: none;
}

nav ul li {
    padding: 5px;
}

nav li a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: color 1s;
}

a:hover {
    color: rgb(0, 0, 0);
}

button {
    background-color: rgba(19, 165, 218, 0.64);
    width: 60px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    transition: background-color 1s;
}

button:hover {
    background-color: rgb(0, 0, 255);
}

.yla {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background: url("Images/LegoHarry (1).jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    flex: 3;
}

.ala {
    background-color: rgb(255, 255, 255);
    flex: 2;


footer {
    display: flex;
    background-color: rgb(128, 128, 128);
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    border-style: solid;
    border-width: 1px;
}

.footerP {
    padding-right: 10px;
    padding-left: 10px;
}

 */