* {
    box-sizing: border-box;
}
body {
}
html {
    background: url("Images/tylypahkapimea.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main {
    max-width: 1000px;
    background-color: rgb(255,255,255);
    margin: auto;
    padding: 30px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0,0,0);
}
#lego {
    width: 20px;
    height: 20px;
    background-color: black;
    clip-path: polygon(100% 30%, 100% 60%, 0 60%, 0 30%, 18% 30%, 18% 21%, 30% 21%, 30% 30%, 65% 30%, 65% 21%, 76% 21%, 76% 30%);
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 10px;
}
nav ul li {
    padding: 5px;
}
nav li a {
    text-decoration: none;
    color: rgb(255,0,0);
    transition: color 1s;
}
a:hover {
    color: rgb(0,0,0);
}
button {
    background-color: rgba(19, 165, 218, 0.64);
    width: 60px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    transition: background-color 1s;
}
button:hover {
    background-color: rgb(0,0,255);
}
article {
    height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.vasen {
    background-color: rgb(220, 193, 20);
    flex: 1;
}
.oikea {
    display: flex;
    flex: 4;
    flex-direction: column;
}
.yla {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background: url("../../../../HTML-CSS-Viikko4/Images/LegoHarry (1).jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    flex: 3;
}
.ala {
    background-color: rgb(255,255,255);
    flex: 2;
}
footer {
    display: flex;
    background-color: rgb(128,128,128);
    height: 100px;
    justify-content: center;
    align-items: center;
}

img {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    shape-outside: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
