:root {
    --Yellow: rgb(0, 0, 0);
    --lightYellow: rgb(255, 252, 220);
    --Red: rgb(227, 0, 11);
    --lightRed: rgb(245, 170, 174);
    --Blue: rgb(0, 191, 255);
    --lightBlue: rgb(147, 218, 255);
}

.textFont {
    font-family: 'IBM Plex Sans', sans-serif;
    word-break: break-all;
}

.headingFont {
    font-family: 'IBM Plex Serif', serif;
    word-break: break-all;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    /*background: url("../Images/SitePictures/LegoMilleniumFalcon.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-color: rgba(166, 166, 166, 0.19);
}



header {
    background: url("../Images/SitePictures/gym_photo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 20vh;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

div ul {
    list-style-type: none;
}

nav ul li {
    padding: 5px;
}

nav li a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    transition: color 1s;
}

.profileNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding-top: 0px;
}

#profileLink {
margin-right: 10px;
}

.profilePic {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin-right: 10px;
    clip-path: none;
    border-style: solid;
    border-width: 2px;
    border-color: var(--Blue);
}



/* Reference: https://fdossena.com/?p=html5cool/buttons/i.frag*/

button {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 2px solid var(--Blue);
    margin: 0 0.2em 0.2em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s;
}

button:hover {
    box-shadow: var(--lightBlue) 0px 1px 10px;
    transform: scale(1.08);
}

#loginBtn {
    margin-top: 12.67px;
    margin-right: 16px;
    margin-bottom: 0;
}
#logoutBtn {
    margin-right: 16px;
    margin-bottom: 0;
}

#navs {
    padding-left: 0;
    margin-left: 16px;
}

#midNav {
    margin-top: 10px;
    margin-bottom: 10px;
}

#lego {
    width: 20px;
    height: 20px;
    background-color: black;
    clip-path: polygon(100% 30%, 100% 60%, 0 60%, 0 30%, 18% 30%, 18% 21%, 30% 21%, 30% 30%, 65% 30%, 65% 21%, 76% 21%, 76% 30%);
}

footer {
    display: flex;
    background-color: rgb(128, 128, 128);
    height: 50px;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgb(0, 0, 0);
}

.footerP {
    padding-right: 10px;
    padding-left: 10px;
    font-size: calc(8px + 0.5vw);
}

.navBtn {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#navLinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#navLinksRight {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top-nav {
    display: none;
}

/* hamburger menu reference https://alvarotrigo.com/blog/hamburger-menu-css/ */

@media only screen and (max-width: 425px) {
    #navLinks {
        display: none;
    }

    .profileNav {
        display: none;
    }

    #loginBtn {
        display: none;
    }
    #logoutBtn {
        display: none;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #00BAF0;
        background: linear-gradient(to left, #f46b45, #eea849);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: 50px;
        padding: 1em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .menu > li {
        margin: 0 1rem;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    @media (max-width: 700px) {
        .menu-button-container {
            display: flex;
        }

        .menu {
            position: absolute;
            top: 0;
            margin-top: 50px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        #menu-toggle ~ .menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        #menu-toggle:checked ~ .menu li {
            border: 1px solid #333;
            height: 2.5em;
            padding: 0.5em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        .menu > li {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: white;
            background-color: #222;
        }

        .menu > li:not(:last-child) {
            border-bottom: 1px solid #444;
        }
    }
}